body{
    background-color: #00C776;
}
#head{
    display: flex;
    width: 700px;
    margin: auto;
    padding-top: 50px;
}
#roomname{
    display: inline-block;
    margin: auto;
    width: 700px;
    color: white;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 40px;
}
.bt2{
    background-color: white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 13px;
    font-family: 'Nanum Myeongjo', serif;
    width: 100px;
    height: 50px;
    position: relative;
}

.bt2:hover{
    background-color: #d5efc2;
    border-width: 3px;
}
.btgroup{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 300px;
}
#chat-space{
    display: block;
    position: relative;
    border-radius: 20px;
    margin: auto;
    width: 700px;
    height: 500px;
    border: 1px solid black;
    overflow: scroll;
    background-color: white;
    scroll-behavior: smooth;
}
#chat-space::-webkit-scrollbar{
    width: 20px;
}
#chat-space::-webkit-scrollbar-thumb {
    background-color: #888888;
    background-clip: padding-box;
    border: 4px solid transparent;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
#chat-send{
    display: block;
    position: relative;
    width: 700px;
    margin: auto;
}
#chat-log{
    display: none;
}
#chat-message-input{
    height: 25px;
    border-radius: 10px;
}
#chat-message-submit{
    width: 60px;
    height: 30px;
    border-radius: 10px;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 15px;
    background-color: #d5efc2;
    color: #888888;
}
#chat-message-submit:hover{
    background-color: #baef95;
    color: black;
}

.mychat{
    display: flex;
    justify-content: flex-end;
}
.otherchat{
    display: flex;
}
.namediv {
    text-align: center;
    position: relative;
    top: 10px;
    font-size: 10px;
    border-radius: 10px;
    color: #888888;
    width: 50px;
}
.textdiv {
    width: 200px;
    word-break: break-all;
    padding: 6px;
    margin: 5px;
    display: inline-block;
    border-radius: 15px;
    background-color: #00C776;
    color: white;
    font-family: 'Nanum Myeongjo', serif;
}
