<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>우리 동네 공원봇</title>
    <link rel="stylesheet" type="text/css" href="{% static 'home/main.css' %}"/>
    <script>
        var userName; 
        document.addEventListener("DOMContentLoaded", getLocation);

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } 
        }
        
        function showPosition(position) {
            document.getElementById("long").value = position.coords.longitude;
            document.getElementById("lat").value = position.coords.latitude;
            document.getElementById("init").innerHTML = "공원 둘러보기";
            document.getElementById("init").disabled = false;
        }

        function setUserName() {
            // +1 day from now
            let userName = document.getElementById("userName").value;
            if((userName != "익명") || document.cookie.indexOf("user") == -1) {
                let date = new Date(Date.now() + 86400e3);
                date = date.toUTCString();
                document.cookie = "user=" + userName + "; SameSite=Lax; expires="; + date;
                console.log(document.cookie);
            }
        }
    </script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
</head>
<body>
    <div class="box">
        <!--button 내용 변경시 index.js if문 내용 수정해야함-->
        <!--<button id="bt">Go to Park</button>-->
        <div id="title">우리 동네</div>
        <div id="title2">공원봇</div>
        <div class="contents set">혼자 달리지마세요.</div>
        <div class="contents set">러닝 메이트와 함께!</div>
        <div class="contents set">별도의 회원가입 없이 무료로 이용가능합니다.</div>
        <div class="set">
        <div class="btgroup">
            <form action="home/location" method="get" onsubmit="setUserName()">
                <input type="hidden" name="long" id="long">
                <input type="hidden" name="lat" id="lat">
                <button class="bt" id="init" disabled="disabled">로딩중...</button>
                <input class="bt" type="text" id="userName" name="userName" value="익명" placeholder="이름을 입력하세요.">
            </form>
        </div>
        </div>
    </div>
</body>
</html>