<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>공원 목록</title>
    <link rel="stylesheet" type="text/css" href="{% static 'home/main.css' %}"/>
    <script type="text/javascript" src="{% static 'home/parklist.js' %}"></script>
    <script>
        let realPosition=["{{realLong}}", "{{realLat}}"];
        let parkobject={};
        let parkname=[];
        let parkimgsrc=[];
        let parkdistance=[];
        let parklongitude=[];
        let parklatitude=[];
        let parkcontent=[];
        let parkvisitroad=[];
        let parktel=[];
        let parkurl=[];
        let parkadd=[];
        function loadParks() {
            {% for park in parks %}
                parkname.push("{{ park.p_park }}");
                parkimgsrc.push("{{ park.p_img }}");
                parkdistance.push("{{ park.distance }}");
                parklongitude.push("{{ park.long }}");
                parklatitude.push("{{ park.lat }}");
                parkcontent.push("{{ park.p_content }}");
                parkvisitroad.push("{{ park.p_visit_road }}");
                parktel.push("{{ park.p_admintel }}");
                parkurl.push("{{ park.template_url }}");
                parkadd.push("{{ park.p_addr }}");
            {% endfor %}
            parkobject.parkname = parkname;
            parkobject.parkdistance = parkdistance;
            parkobject.parkimgsrc = parkimgsrc;
            parkobject.parklongitude = parklongitude;
            parkobject.parklatitude = parklatitude;
            parkobject.parkcontent = parkcontent; //GET p_list_content
            parkobject.parkvisitroad = parkvisitroad; //GET visit_road
            parkobject.parktel = parktel;
            parkobject.parkurl = parkurl;
            parkobject.parkadd = parkadd;
            console.log(parkobject);
            makelistchild(parkobject,1);
        }
        document.addEventListener("DOMContentLoaded", loadParks);
    </script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&family=Nanum+Pen+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&family=Song+Myung&display=swap" rel="stylesheet">
</head>
<body id="index2">
   <div class="box2">
        <h3 id="in2h3">우리 동네 공원봇</h3>
        <div class="btgroup">
            <!--button 내용 변경시 index.js if문 내용 수정해야함-->
            <button class="bt2">홈으로</button>
            <button class="bt2">Map</button>
        </div>
    </div>
    <div class="set">
    <form>
        <label for="numbers" class="listlabel" >공원 개수</label>
        <select id="numbers">
            <option>1</option>
            <option>5</option>
            <option>10</option>
            <option>15</option>
            <option>20</option>
            <option>직접입력</option>
        </select>
        <br>
        <input type="text" id="inputnb"/>
        <input type="button" id="change" value="변경"/>
    </form>
    </div>
    <div id="parkList" class="set">
    </div>
</body>
</html> 