<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>모든 공원</title>
    <link rel="stylesheet" type="text/css" href="{% static 'map/mapAllDesign.css' %}"/>
    <script type="text/javascript" src="{% static 'map/mapView.js' %}"></script>
    <script>
        let parkobject={};
        let parkname=[];
        let parklongitude=[];
        let parklatitude=[];

        function makeList() {
            {% for park in parks %}
                parkname.push("{{ park.p_park }}");
                parklongitude.push("{{ park.long }}");
                parklatitude.push("{{ park.lat }}");
            {% endfor %}
            parkobject.parkname = parkname;
            parkobject.parklongitude = parklongitude;
            parkobject.parklatitude = parklatitude;

            var positions = [];
            for (var i = 0; i < 131; i++) {
                var obj = { content: '<div>' + parkobject.parkname[i] + '</div>',
                latlng: new kakao.maps.LatLng(parkobject.parklatitude[i], parkobject.parklongitude[i]) }
                positions.push(obj);
            }
        }
		document.addEventListener("DOMContentLoaded", getLocation);

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } 
        }
        
        function showPosition(position) {
            document.getElementById("long").value = position.coords.longitude;
            document.getElementById("lat").value = position.coords.latitude;
            document.getElementById("init").innerHTML = "뒤로 가기";
            document.getElementById("init").disabled = false;
        }
        document.addEventListener("DOMContentLoaded", makeList);

    </script>
    <style>
    .bt{
        background-color: #0aa165;
        color:white;
        justify-content:center;
        margin : 3px;
        border: rgb(240, 228, 228);
        border-radius:2px;
        display: inline-block;
        font-size: 20px;
    }
    .bt:hover {
        background-color: #06b46f;}
    </style>
</head>
<body>
    <div id="map" style="width:100%;height:700px;"></div>
    <form action="location" method="get">
        <input type="hidden" name="long" id="long">
        <input type="hidden" name="lat" id="lat">
        <button class="bt" id="init" disabled="disabled">로딩중...</button>
    </form>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7b18f668ae5f10154eafbf3d44084f2d"></script>
    <script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div  
        mapOption = { 
            center: new kakao.maps.LatLng(37.566819, 126.978652), // 지도의 중심좌표
            level: 8 // 지도의 확대 레벨
        };

    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

    var markers = [];
    var infowindows = [];
    document.addEventListener("DOMContentLoaded", () => {
        for (var i = 0; i < 131; i++) {
            addMarker(new kakao.maps.LatLng(parkobject.parklatitude[i], parkobject.parklongitude[i]))
            markers[i].setMap(map);
            var infowindow = new kakao.maps.InfoWindow({
                content: parkobject.parkname[i]
            });
            infowindows.push(infowindow);
            kakao.maps.event.addListener(markers[i], 'mouseover', makeOverListener(map, markers[i], infowindows[i]));
            kakao.maps.event.addListener(markers[i], 'mouseout', makeOutListener(infowindows[i]));
        }
    })

    function addMarker(position) {
        var marker = new kakao.maps.Marker({
            position: position
        });

        marker.setMap(map);
        markers.push(marker);
    }


    function makeOverListener(map, marker, infowindow) {
        return function() {
            infowindow.open(map, marker);
        };
    }

    function makeOutListener(infowindow) {
        return function() {
            infowindow.close();
        };
    }

    </script>
    
</body>
</html>