body {
    width : 1020px;
    margin : 0 auto;
    background-color: #00C776;
    font-family: 'Nanum Myeongjo', serif;
    color: white;
}
#parkName {
    text-align: center;
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: 20px;
}
#map {
    border-radius: 10px;
    object-fit: cover;
}

.from {
    font-size: 35px;
    margin-bottom: 0px;
}
#distanceAll {
    font-size: 100px;
    margin-top: 0px;
}
#walkTime {
    font-size: 70px;
}
#bicycleTime {
    font-size: 70px;
}

.distanceTime {
    width: 510px;
    display: flex;
    flex-direction: column;
}
.about {
    display: flex;
    width: 510px;
    flex-direction: column;

}
#row {
    display: flex;
    flex-direction: row;
}
.content {
    font-size: 40px;
    margin-bottom: 35px;
    background-color: white;
    color: #00C776;
}
.aboutPark {
    font-size: 20px;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    text-align: justify;
    width: 480px;
}
.aboutParkUrl {
    font-size: 20px;
    text-align: justify;
    width: 480px;
    text-decoration: none;
    color: #00C776;
    margin-left: 0;
}
#warning {
    font-size: 20px;
    margin-top: 5px;
}
.aboutTitle {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
}